.Rproj.user
.Rhistory
.RData

# History files
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/*.R
.Rbuildignore
*.Rproj
README_cache
vignettes/*_cache
vignettes/*_files

# Reverse dependency checks
revdep
inst/doc
docs

.comments

